 <header class="main-header sticky-header">
      <div class="container-custom nav-inner">
        <!-- Logo Box -->
        <div class="logo-box hover-lift">
          <img src="./assets/lnu.logo.png"
               alt="جامعة الأقصر القومية" 
               class="logo-img">
        </div>

        <!-- Navigation -->
        <nav class="circle-menu">
          <a 
            *ngFor="let item of navigationItems"
            [routerLink]="item.route"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: item.route === '/home' }"
            class="menu-item"
          >
            <i [class]="item.icon"></i>
            <span>{{ item.label }}</span>
          </a>
        </nav>
      </div>
    </header>