<section class="book-section">
  <div class="container book animate-on-scroll book-closed">

    <!-- الصفحة اليسرى -->
    <div class="book-page left-page">
      <!-- <img src="assets/pic2.jpg" alt="رئيس الجامعة" class="page-image"> -->

      <div class="page-content">
        <h3>رسالة ترحيب</h3>
        <p>
          جامعة الأقصر الوطنية تقف كمنارة للمعرفة متجذرة في التاريخ ومدفوعة بالتميز العلمي. نحن ملتزمون بتمكين قادة المستقبل من خلال الابتكار والبحث والنزاهة الأكاديمية.
        </p>
        <p>
          مهمتنا هي خلق بيئة تعليمية تلهم الإبداع والتفكير النقدي والانفتاح العالمي.
        </p>
        <h4>الأستاذ الدكتور أحمد حسن</h4>
        <span>رئيس جامعة الأقصر الوطنية</span>
      </div>
    </div>

    <!-- الصفحة اليمنى -->
    <div class="book-page right-page">
      <h3>اكتشف جامعتنا</h3>
      <div class="video-wrapper">
        <video
          controls
          muted
          loop
          playsinline
          
          class="video-element">
          <source src="./assets/vid.mp4" type="video/mp4">
          متصفحك لا يدعم تشغيل الفيديو.
        </video>
      </div>
    </div>

  </div>
</section>
